$color-yellow: rgba(232, 230, 19, 1);
$color-violet: rgba(116, 9, 121, 0.6334908963585435);
$color-violet-light: #a763aa;
$color-red: red;
$color-black: black;
$color-white: white;
$color-gray-tp: rgba(131, 137, 150, 0.5);
